.Container {
  display: flex;
  justify-content: center;
  background-color: rgb(95, 14, 246);
  padding: 1% 1%;
}

.Container a {
  color: white;
  margin-right: 20px;
  font-size: 140%;
  padding: 1% 1%;
}
.Container a:hover {
  background-color: white;
  margin-right: 20px;
  font-size: 140%;
  padding: 1% 1%;
}

.mainInput {
  position: relative;
  margin-top: 50%;
}
